@import url("./components/profile/Profile.module.css");
@import url("./components/friendList/FriendList.module.css");
@import url("./components/transactionHistory/TransactionHistory.module.css");

/* src/index.css */

body {
  font-family: sans-serif;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}
